.quiz {
  padding: 2em;
  //   display: flex;
  height: 70vh;
  //   flex-direction: column;
  background-color: #ccc;
  border-radius: 10px;
  width: 60vw;
  margin: auto;
  box-shadow: 2px 2px 5px #6d8764;
}
.option {
  // position: absolute;
  // left: 20%;
  // top: 35%;
  margin-top: 4em;
  word-break: break-all;
  max-width: 100%;
}
input[type="radio"] {
  margin-bottom: 4em;
  overflow: auto;
  display: none;
}
.option__A {
  // margin-left: 2em;
}
.option__B {
  margin-left: 0em;
}
.navigation {
  // position: absolute;
  // bottom: 10%;
  margin-top: 4em;
  display: flex;
  // position: fixed;
  justify-content: space-evenly;

  &__previous {
    height: 3em;
    width: 200px;
    border-radius: 100px;
    border: 1px solid #bb3a3a;
    background-color: #bb3a3a;
    outline: none;
    color: #fff;
    font-size: 18px;
  }

  &__next {
    height: 3em;
    width: 200px;
    border-radius: 100px;
    border: 1px solid #027955;
    background-color: #027955;
    outline: none;
    font-size: 18px;
    color: #fff;
  }
}

.correct {
  background-color: #027955;
  color: white;
  border: solid 1px #027955;
}
.wrong {
  background-color: #bb3a3a;
  color: #fff;
}

label {
  padding: 20px;
  width: 90%;
  display: block;
  font-size: 22px;
  display: inline-block;
  border: 1px rgba(209, 26, 26, 0.4) solid;
  border-radius: 6px;
  margin-bottom: 1em;
  text-align: left;
}
label:first-child {
  margin-top: 10em;
}
